<html>
    <body>
        <form method = 'POST' action = './createVm'>
            <input type = 'submit' value = 'Create Virtual Machine' >
        </form>
        <form method = 'POST' action = './listVm'>
            <input type = 'submit' value = 'View all Virtual Machines'>
        </form>
        <div>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                   {% for message in messages %}
                      <p>{{ message }}</p>
                    {% endfor %}    
              {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
            </div>
    </body>
</html>
